.navbar-override {
  min-height: 20px;
  max-height: 158px;
}


.center-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: fadeIn 3s;
  animation: wiggle 2s linear infinite;
}

.center-cloud {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: fadeIn 3s linear infinite;;
  /* animation: wiggle 2s linear infinite; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}