.navbar-override {
  min-height: 20px;
  max-height: 158px;
}


.center-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: fadeIn 3s;
  animation: wiggle 2s linear infinite;
}

.center-cloud {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: fadeIn 3s linear infinite;
  /* animation: wiggle 2s linear infinite; */
}

.full-width{
  object-fit: cover;
  height: 100%;
}

.big-font{
  font-size: 100px;
}

.slider-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.slider-middle {
  display: table-cell;
  vertical-align: middle;
}

.slider-inner {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  width:100%;
  /* background-size: contain; */
  animation: fadeIn 2s linear;
}

.fade-in{
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}